PORT=8000
NODE_ENV=development

API_PREFIX=/api/v1

JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRES_IN=1d

DATABASE_URI=database_URI

SLACK_WEBHOOK_URL=Your slack webhok url

GROQ_API_KEY=your_api_key